@charset "UTF-8";
/* CSS Document */

h1 {
	color: #4A4949
}
h4 {
	color: #030303
}
h5 {
	color: #4A4949
}
h3 {
	color: #4A4949
}
div {
	width: 992px;
	margin: 40px;
	padding-left: 75px;
	padding-bottom: 35px;
	background-color: #EFF8F8
}
li {
	color: #0B2E5D
}
i {
	color: #0B2E5D
}